:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--slate-300);
    font-size: 15px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.qrCard {
    border-radius: 5%;
    padding: 1rem;
    margin-top: 15.5%;
    width: 20.25%;
    background-color: var(--white);
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.qrCode {
    border-radius: 5%;
    width: 100%;
}

.qrHeader {
    font-weight: 700;
}

.qrBody {
    color: var(--slate-500);
    font-weight: 400;
    padding: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1.5;
}

/* mobile */

@media screen and (max-width: 375px) {
    .qrCard {
        width: 66%;
    }
}

@media screen and (max-width: 1440px) {

}